body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url('/static/images/image_b.jpg') no-repeat center fixed;
}

.cont{
	width: 600px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
	text-align: center;
	border-radius: 30px;
	font-family: Montserrat;
}

.c2
{
	font-family:  Montserrat;
	font-size: medium;
	color: white;
	font-weight: 800;
	width: 100px;
	height: 100px;

}

.c3
{
	font-family:  Montserrat;
	font-size: medium;
	color: white;
	font-weight: 800;
	width: 100px;
	height: 100px;
}

.c4
{
	font-family:  Montserrat;
	font-size: medium;
	color: white;
	font-weight: 800;
	width: 100px;
	height: 100px;
}

.c1
{
	font-family:  Montserrat;
	font-size: medium;
	color: white;
	font-weight: 800;
	width: 100px;
	height: 100px;
}

.p5:hover{
    background: gray;
    font-family: monospace;
}



