{% extends "base.html" %}
{% block content %}
<html>

<body>
    {% for message in get_flashed_messages() %}
        <div class="flash" id="dis">
            <a href="#" onclick="turnoff()" ><b>&times;</b></a>
            {{message}}
        </div>
    {% endfor %}

    
<form action="{{url_for('index')}}" method="POST" class="cont">
    <center><h1>CONTACT US</h1>
        <br><br>
    <input type="text" name="name" placeholder="Name" required id="n">
    <br> <br>
    <input type="email" name="email" placeholder="Email" required id="n">
    <br>  <br>
    <input name="pno" placeholder="Phone number" required id="n">
    <br>  <br>
    <input name="query_msg" placeholder="Write your Query" required id="n">
    <br>  <br>
    <input type="submit" value="SUBMIT" id="s">
    </center>
</form>
{% endblock %}

</body>
</html>